<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace是接口的名字-->
<mapper namespace="com.wanho.batis.mapper.AddressMapper">
<!-- 根据id获取用户信息 -->
	<select id="getAllAddress" resultType="Address">
		select * from address 
	</select>
</mapper>